.container {
  width: 100vw;
  height: 120vh;
  position: relative;
  transform: translate(-50%, -52%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  top: 56vh;
}
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 32s infinite;
}

img {
  width: 100%;
}

.content {
  height: 100vh;
}
