:root {
  --black: rgb(52, 52, 52);
  --green: #00693eff;
  --gold: #ffd200ff;
  --gray: rgb(235, 235, 235);
  --teal: #489fb5ff;
  --cream: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 8vh;
  width: 100%;
  z-index: 2;
}
.navbar a {
  color: black;
  padding: 1.3vh 1.8vw;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(0.75vw + 0.75vh + 0.25vmin);
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
}

.navbar div {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  border-radius: 5px;
}

.navLink {
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
}

.navLink:hover {
  background-color: #e0e0e0;
  transform: scale(1.03);
}

.logo {
  text-align: center;
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
}

.logo:hover {
  transform: scale(1.03);
}

.logo a {
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 2.2vh;
  margin: 0px 1.5vw;
}

.logo img {
  width: 5vw; /* Adjust the width as needed */
  height: auto;
  padding-top: 8vh;
  z-index: 3;
  margin: 0px 1.5vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 8vh;
  width: 100%;
  z-index: 2;
  bottom: 0;
  padding-top: 10vh;
  padding-bottom: 4vh;
}
.footer a {
  color: black;
  padding: 1.3vh 1.8vw;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(0.75vw + 0.75vh + 0.25vmin);
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.footerSpacer {
  margin-left: 0.7vw;
  margin-right: 0.7vw;
}
.footer div {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.footer-social i {
  font-size: calc(1.3vw + 1.3vh + 0.5vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.info {
  font-family: "Inter", sans-serif;
  z-index: -10;
}

.logoSmall {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 0.3s ease-in-out 0.7s;
}

.logoLarge {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 0.3s ease-in-out 0.7s;
}

.logoSmallAnimate {
  opacity: 1;
  transform: translateY(-2.75vh) translateX(2px) scale(0.8);
}

.logoLargeAnimate {
  opacity: 0;
  transform: translateY(-2.75vh) translateX(2px) scale(0.8);
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
/* end of template css */

.title {
  font-size: calc(2vw + 2vh + 1vmin);
  font-weight: 700;
  padding-top: 7vh;
  margin-bottom: 6vh;
  text-align: center;
}

.list {
  list-style-type: none;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  z-index: -1;
  overflow: hidden;
}
.list a {
  cursor: default;
  overflow: hidden;
}
.listElements {
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
  overflow: hidden;
}

.listElements:hover {
  transform: scale(1.03);
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
  overflow: hidden;
}

.listName {
  font-size: calc(1vw + 1vh + 0.25vmin);
  font-weight: 600;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.listName p {
  font-weight: 400;
  text-align: center;
  overflow: hidden;
}

.spacer {
  width: 10vw;
  margin-left: 5vw;
  overflow: hidden;
}

.imgWrapper {
  width: (264 * 1.3) px;
  height: (394 * 1.3) px;
  overflow: hidden;
}

.zIndex {
  z-index: 1 !important;
}

.none {
  color: rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

#logoTop {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.underDescription {
  font-size: calc(1vw + 1vh + 0.25vmin);
  font-weight: 400;
  padding-top: 2vh;
  padding-bottom: 4vh;
  text-align: center;
}
.underDescription p {
  padding-top: 2vh;
  padding-left: 15vw;
  padding-right: 15vw;
}

.underDescription div {
  padding-top: 2vh;
}

.list {
  cursor: pointer;
}

.pillars {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}
.pillars button {
  z-index: 1 !important;
}

.pillars span {
  z-index: 1 !important;
}

.button-48 {
  color: #000000;
  appearance: none;
  background-color: var(--cream);
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: calc(1vw + 1vh + 0.5vmin);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 3vh 2vw;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #e0e0e0;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: var(--cream);
}

.button-48 span {
  position: relative;
}

.popUp {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--gray);
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  transition: opacity 0.7s;
}
.x {
  position: absolute;
  top: 5vh;
  right: 3vw;
  font-size: 40px;
  z-index: -1;
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
}

.x:hover {
  color: var(--black);
  transform: scale(1.03);
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
}

.bioImage {
  object-fit: fill;
  max-width: 100%;
  cursor: pointer;
}

.bioImagePopUp {
  object-fit: fill;
  max-width: 100%;
}
.imageWrapper {
  width: 27vw;
  height: auto;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.bioText {
  font-family: "Inter", sans-serif;
  font-size: calc(1vw + 1vh + 0.5vmin);
  padding-left: 2vw;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  width: 65vw;
}

.bioText p {
  padding-top: 2vh;
  padding-left: 5vw;
}

#line {
  width: 4vw;
  border-top: 3px solid black;
  position: absolute;
}

#name {
  font-size: calc(3vw + 3vh + 1vmin);
  font-weight: 600;
  margin-top: -15vh;
  text-decoration: none;
  align-items: center;
  position: absolute;
  font-family: "Inter", sans-serif;
}

.custom-class-popUp {
  opacity: 1;
  transition: opacity 0.7s;
}

#aboutUsBlurb {
  line-height: 1.5;
}
