.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.gradeSlector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 4vh;
  background-color: var(--gray);
  border-radius: 10px;
}

.buttons {
  margin-left: 2vh;
  margin-right: 2vh;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: 10px;
  padding: 2vh 2vh;
}

.weekDay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box {
  background-color: white;
  border-radius: 10px;
  width: 9vw;
  height: 12vh;
  margin: 0.2vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.boxHover {
  transform: scale(1.03);
}

.inner {
  width: 9vw;
  height: 12vh;
  grid-area: inner-div;
}

.bell {
  color: gray;
  padding: 0.25vh 0.25vw;
  font-size: calc(0.5vw + 0.4vh + 0.25vmin);
}

.days {
  display: flex;
  flex-direction: column-reverse;
  color: gray;
  padding: 0.25vh 0.25vw;
  font-size: calc(0.5vw + 0.4vh + 0.25vmin);
}

.class {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  font-weight: 500;
  color: var(--black);
}

.colorBar {
  font-size: 90%;
  width: auto;
  height: auto;
  padding: 0.1em 0.7em;
  border-radius: 1.2em;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.nonLab {
  background-color: hsla(0, 0%, 74%, 0.5);
}

.history {
  background-color: rgba(223, 145, 121, 0.5);
}

.math {
  background-color: rgba(212, 107, 118, 0.5);
}

.science {
  background-color: rgba(189, 220, 162, 0.5);
}

.english {
  background-color: rgba(209, 166, 201, 0.5);
}

#bells {
  margin-bottom: 1vh;
}

.open {
  transition: 0.3s cubic-bezier(0.44, 0.4, 0.26, 0.7);
  transform: scale(1.3);
}
